* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.App {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
h1 {
  text-align: center;
  font-family: "Cinzel", "saans-serif";
  color: red;
  font-size: 2.8rem;
  text-shadow: 1px 1px 2px black;
}
.header {
  background-color: yellow;
  border: 5px inset black;
  height: 12vh;
}
.main {
  display: flex;
  background-color: rgb(2, 2, 2);
  height: 80vh;
  width: 100vw;
}
.footer {
  background-color: aqua;
  height: 8vh;
}

.sidebar {
  background-color: rgb(216, 254, 255);
  width: 20vw;
  height: 80vh;
  border: 5px inset black;
}
.content {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.cards {
  display: flex;
  flex-direction: column;
  background-color: rgb(255 255 205);
  margin: 1vh 1vw;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-radius: 20px;
  min-height: 30%;
  max-height: 30%;
  width: 95%;
  overflow-y: scroll;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 1vw;
  height: 15%;
}

input {
  padding: 5px;
  width: 15vw;
}
button {
  padding: 5px;
  width: 10vw;
  background-color: transparent;
  border: 1px solid black;
  &:hover {
    background-color: rgb(255, 174, 0);
  }
}
p {
  font-size: 1.2rem;
  padding: 5px;
}
h3 {
  justify-self: center;
  text-align: center;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  border-radius: 10px;
  border: 2px solid black;
  width: 80%;
  border: 5px outset black;
  &:hover {
    background-color: rgb(185, 255, 119);
  }
}

.date {
  bottom: -20px;
}

.refresher {
  position: absolute;
  background-image: url("./components/refresh.png");
  background-size: cover;
  /* background-color: green; */
  bottom: 10vh;
  right: 6vw;
  border-radius: 100px;
  /* color: aqua; */
  width: 80px;
  height: 80px;
}

h2 {
  font-weight: bold;
}
